/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Задний фон для всей страницы */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background: url('/static/fon.png') no-repeat center center; 
    background-size: cover; /* Заполняет весь экран */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Предотвращаем горизонтальную прокрутку */

}

header, section, footer {
    width: 100%;
}       

.welcome, .instruction, .telegram-bot {
    box-sizing: border-box;
}


/* Переменные */
:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-hex-gray: #333333;
    --color-gray: #FAFAFA;

    --primary-color: #7095C6;
    --primary-hover: #5a7bb5;
    --border-radius: 8px;

    --transition-duration: 0.3s;
}

/* Фиксированная шапка */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: var(--color-light);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding-left :20px;
    padding-right: 20px;
    border-bottom: 1px solid #e0e0e0;
}

/* Логотип */
.wait {
    height: 65px;
    flex-shrink: 0;
}

/* Навигация по языкам */
.language-list, .header-menu-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.language-link, .header-menu-link {
    text-decoration: none;
    color: #747272;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 1.2px;
    transition: color var(--transition-duration) ease;
}

.language-link:hover, .header-menu-link:hover {
    color: var(--primary-hover);
}

/* Кнопка "Для сотрудников" */
.header-actions .button1-link {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--color-light);
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition-duration);
}

.button1-link:hover {
    background-color: var(--primary-hover);
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 800px;
    padding: 0 10%;
    box-sizing: border-box;
    position: relative;
    padding-top: 60px;
}
/* Левая часть - текст */
.welcome-container {
    max-width: 500px; /* Ограничиваем ширину */
    text-align: center; /* Выровняем текст по левому краю */
    padding-bottom: 150px;

}

/* Правая часть - изображение */
.welcome-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; /* Высота на весь блок */
    width: 50%; /* Половина блока */
    background: url('/static/your-image.png') no-repeat center center; /* Замените на изображение */
    background-size: cover;
}

/* Заголовок */
.welcome-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    color: #000;
    margin-bottom: 10px;
}

/* Основной текст */
.welcome-main {
    line-height: 52px;
    margin: 10px 0;
}

.welcome-electronic {
    color: #3C3838;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 52px;
    letter-spacing: 3.84px;
}

.welcome-queue {
    color: #7095C6;
    font-family: 'Noto Sans Tamil', sans-serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 3.84px;
}


/* Подзаголовок */
.welcome-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 30px;
}

/* Кнопка */
.welcome-button {
    display: inline-block;
    background-color: #7095C6;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.welcome-button:hover {
    background-color: #5a7bb5;
    transform: translateY(-2px);
}
/* Блок "Инструкция" */
.instruction {
    position: relative; /* Устанавливаем позицию для родителя */
    padding: 60px 20px;
    display: flex;
    align-items: center;
    padding: 5% 10%; 
    /* justify-content: center;  цеееентррр */  
}

.instruction-container {
    max-width: 800px;
    text-align: left;
}

.instruction-title {
    color: #3C3838;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 3.84px;
    text-align: center;
    margin-bottom: 10px;
}

.instruction-subtitle {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.92px;
    text-align: center;
    margin-bottom: 30px;
}

/* Стили для нумерованных шагов с палочками */
.instruction-steps {
    counter-reset: step-counter; /* Инициализируем счетчик */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Расстояние между шагами */
    padding-left: 0;
}

.step {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    position: relative;
}

/* Кружок с номером */
.step::before {
    counter-increment: step-counter; /* Увеличиваем счетчик */
    content: counter(step-counter); /* Добавляем нумерацию */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px; /* Ширина кружка */
    height: 35px; /* Высота кружка */
    background: #99CDEE; /* Новый цвет фона */
    border: 4px solid rgba(0, 0, 0, 0.20); /* Полупрозрачная рамка */
    border-radius: 12px; /* Скругление углов */
    color: #000; /* Черный цвет текста */
    font-family: 'Inter', sans-serif;
    font-size: 16px; /* Уменьшенный размер шрифта */
    font-weight: 600;
    flex-shrink: 0;
    z-index: 2;
}

/* Вертикальная палочка между шагами */
.step::after {
    content: "";
    position: absolute;
    top: 40px; /* Отступ вниз от кружка */
    left: 20px; /* Центрируем по горизонтали */
    width: 2px; /* Ширина палочки */
    height: calc(100% + 20px); /* Высота палочки с учетом зазора */
    background-color: #7095C6; /* Цвет палочки */
    z-index: 1;
}

/* Убираем палочку у последнего шага */
.step:last-child::after {
    display: none;
}


.step-title {
    color: #4B4A70;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1.2px;
}

.step-text {
    color: #6E6868;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 0.96px;
}

.comments-section {
    position: absolute; /* Абсолютное позиционирование */
    top: 100px;
    right: 0; /* Привязываемся к правой границе */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Отступ между комментариями */
    width: auto; /* Автоматическая ширина */
    padding-right: 50px; /* Отступ от правого края */
}   

/* Комментарии */
.comment {
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    gap: 15px;
}

/* Комментарии — индивидуальные стили */
.comment-1 {
    width: 407px;
    height: 110px;
    transform: rotate(-4.154deg);
    margin-left: 0; /* Левее */
    margin-right: 300px;
    margin-bottom: 20px;
}

.comment-2 {
    width: 410px;
    height: 115px;
    transform: none;
    margin-left: auto; /* Правее */
    margin-right: 0;
}

.comment-3 {
    width: 377px;
    height: 98px;
    transform: rotate(6.471deg);
    margin-left: 0; /* Левее */
    margin-bottom: 20px;
}

.comment-4 {
    width: 395px;
    height: 110px;
    transform: none;
    margin-left: auto; /* Правее */
    margin-right: 0;
}

/* Аватарки */
.comment-avatar {
    width: 52px;
    height: 54px;
    transform: rotate(-4.962deg);
    flex-shrink: 0;
}

/* Автор комментария */
.comment-author {
    color: #9A8080;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.78px;
}

/* Текст комментария */
.comment-text {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.96px;
}


/* Блок Телеграм-бота */
.telegram-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5% 7%;
}

/* Содержимое текста */
.telegram-content {
    max-width: 500px; /* Ограничиваем ширину текста */
    text-align: left;
}

/* Стили для заголовка Телеграм-бота */
.telegram-title {
    font-family: 'Signika Negative', sans-serif;
    font-size: 72px; /* Уменьшенный размер заголовка */
    font-weight: 600;
    line-height: 70px; /* Межстрочный интервал */
    letter-spacing: 4px;
    width: 700px
}

.telegram-highlight {
    color: #7095C6;
}

/* Подзаголовок */
.telegram-subtitle {
    color: #747272;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; /* Уменьшенный размер шрифта */
    font-weight: 400;
    line-height: 32px; /* Межстрочный интервал */
    letter-spacing: 1.5px;
    margin-bottom: 100px; /* Отступ вниз */
}

/* Ссылка на Телеграм */
.telegram-link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px; /* Отступ между ссылкой и подписью */
}

.telegram-icon {
    width: 50px; /* Уменьшенный размер иконки */
    height: 50px;
    flex-shrink: 0;
}

.telegram-text {
    color: #7095C6;
    font-family: 'Roboto', sans-serif;
    font-size: 32px; /* Уменьшенный размер текста */
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1.2px;
    transition: color 0.3s ease;
}

.telegram-text:hover {
    color: #5a7bb5; /* Темнее при наведении */
}

/* Подпись */
.telegram-footer {
    color: #3C3838;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px; /* Уменьшенный размер подписи */
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}

/* Изображения справа */
.telegram-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Отступ между изображениями */
}

/* .phones-image {
    width: 280px; /* Уменьшаем ширину изображений телефонов 
    height: auto;
} */

.tg-icons {
    width: 350px; /* Уменьшаем размер иконки Телеграм */
    height: auto;
    margin-bottom: 50px;

}


.telegram-text {
    color: #7095C6;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1.2px;
    transition: color 0.3s ease;
}

.telegram-text:hover {
    color: #5a7bb5;
}

/* Подпись */
.telegram-footer {
    color: #3C3838;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 1.92px;
    margin-top: 10px; /* Уменьшаем отступ сверху */
}


/* Общий стиль подвала */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;
    padding-left: 100px;
    padding-right: 370px;

    background-color: #F4F4F4;
    /* bottom: -100px; 
    position: relative; */
    /* opacity: 0; */
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo {
    width: 273px;
    height: auto;
}

.footer-address {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #888181;
    line-height: 40px;
    letter-spacing: 1.28px;
    /* text-decoration: none; */
    transition: color 0.3s ease;
}

.footer-address:hover {
    color: #7095C6;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.footer-title {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

.footer-text {
    font-family: 'Arial Hebrew', sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 40px;
    letter-spacing: 1.28px;
}

.footer-telegram {
    display: flex;
    align-items: center;
    gap: 10px;
}

.telegram-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #7095C6;
    /* text-decoration: none; */
    margin-bottom: 0;
}

.telegram-link:hover {
    color: #5a7bb5;
}