<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700;800&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@600&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Signikxa+Negative:wght@600&display=swap" />
        <title>Электронная очередь</title>
    </head>
    <body>
        <header class="header">
            <img class="wait" alt="wait logo" src="static/wait32.png" loading="lazy" />
            <nav class="language">
                <ul class="language-list">
                    <li class="language-menu">
                        <a href="#" class="language-link">Каз</a>
                    </li>
                    <li class="language-menu">
                        <a href="#" class="language-link">Рус</a>
                    </li>
                </ul>
            </nav>
            <nav class="header-menu">
                <ul class="header-menu-list">
                    <li class="header-menu-item">
                        <a href="#" class="header-menu-link">Инструкция</a>
                    </li>
                    <li class="header-menu-item">
                        <a href="#" class="header-menu-link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header-actions">
                <a href="/auth/login" class="button1-link">ДЛЯ СОТРУДНИКОВ</a>
            </div>
        </header>

        <section class="welcome">
            <div class="welcome-container">
                <p class="welcome-title">Добро пожаловать в</p>
                <h1 class="welcome-main">
                    <span class="welcome-electronic">ЭЛЕКТРОННУЮ</span>
                    <span class="welcome-queue">ОЧЕРЕДЬ</span>
                </h1>
                <p class="welcome-subtitle">Консультации и встречи в колледже “Astana IT University”</p>
                <a href="/auth/register" class="welcome-button">ЗАПИСЫВАЙСЯ!</a>
            </div>
        </section>
        <section class="instruction">
            <div class="instruction-container">
                <h2 class="instruction-title">ИНСТРУКЦИЯ</h2>
                <p class="instruction-subtitle">Как легко записаться на консультацию?</p>
        
                <div class="comments-section">
                    <div class="comment comment-1">
                        <img src="/static/avatar1.svg" alt="Anna" class="comment-avatar">
                        <div class="comment-content">
                            <span class="comment-author">@Anna</span>
                            <p class="comment-text">Как занять очередь онлайн? не понимаю этих технологий</p>
                        </div>
                    </div>
                    <div class="comment comment-2">
                        <img src="/static/avatar2.svg" alt="iloveyoumom" class="comment-avatar">
                        <div class="comment-content">
                            <span class="comment-author">@iloveyoumom</span>
                            <p class="comment-text">Хочу своего сына отправить в этот колледж, как проконсультироваться?</p>
                        </div>
                    </div>
                    <div class="comment comment-3">
                        <img src="/static/avatar3.png" alt="ALICACALL" class="comment-avatar">
                        <div class="comment-content">
                            <span class="comment-author">@ALICACALL</span>
                            <p class="comment-text">Согласна с вами @Anna</p>
                        </div>
                    </div>
                    <div class="comment comment-4">
                        <img src="/static/avatar4.png" alt="wezoll" class="comment-avatar">
                        <div class="comment-content">
                            <span class="comment-author">@wezoll</span>
                            <p class="comment-text">Там же все легко, люди</p>
                        </div>
                    </div>
                </div>
        
                <div class="instruction-steps">
                    <div class="step">
                        <div>
                            <h3 class="step-title">Введите свои данные</h3>
                            <p class="step-text">Укажите ваше имя, телефон, чтобы войти всего за пару минут!</p>
                        </div>
                    </div>
                    <div class="step">
                        <div>
                            <h3 class="step-title">Выберите цель визита</h3>
                            <p class="step-text">Хотите консультацию, подать документы или узнать статус заявки?</p>
                        </div>
                    </div>
                    <div class="step">
                        <div>
                            <h3 class="step-title">Запишитесь на удобное время</h3>
                            <p class="step-text">Найдите свободное время в расписании и забронируйте.</p>
                        </div>
                    </div>
                    <div class="step">
                        <div>
                            <h3 class="step-title">Вы в живой очереди?</h3>
                            <p class="step-text">Ваше место сохраняется в личном кабинете.</p>
                        </div>
                    </div>
                    <div class="step">
                        <div>
                            <h3 class="step-title">Не опаздывайте!</h3>
                            <p class="step-text">Помните, что запись аннулируется через 5 минут после времени.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
        <section class="telegram-bot">
            <div class="telegram-content">
                <h2 class="telegram-title">
                    У НАС ЕСТЬ <span class="telegram-highlight">ТЕЛЕГРАМ-БОТ!</span>
                </h2>
                <p class="telegram-subtitle">
                    ВЫ ТАКЖЕ МОЖЕТЕ ЗАПИСЫВАТЬСЯ НА КОНСУЛЬТАЦИЮ ЧЕРЕЗ ТЕЛЕГРАМ-ЧАТ
                </p>
                <div class="telegram-link">
                    <img src="static/tgicon.svg" alt="Telegram Icon" class="telegram-icon" />
                    <a href="https://t.me/wa1t_bot" target="_blank" class="telegram-text">@wa1t_bot</a>
                </div>
                <p class="telegram-footer">
                    ВАШЕ ВРЕМЯ - НАША ЗАБОТА!
                </p>
            </div>

            <div class="telegram-images">
                <!-- <img src="static/twophone.png" alt="Phones Image" class="phones-image" /> -->
                <img src="/static/twotg.png" alt="Telegram Icons" class="tg-icons" />
            </div>
        </section>
    </body>
    <footer class="footer">
        <div class="footer-left">
            <img src="/static/wait31.png" alt="Wait Logo" class="footer-logo" />
            <a href="https://2gis.kz/astana/geo/70000001036709805" target="_blank" class="footer-address">
                проспект Мангилик Ел, 55/11<br />
                Бизнес-центр EXPO, блок C1<br />
                Астана, Казахстан, 010000
            </a>
        </div>

        <div class="footer-right">
            <div class="footer-contacts">
                <h3 class="footer-title">Контакты</h3>
                <p class="footer-text">
                    ПРИЕМНАЯ КОМИССИЯ КОЛЛЕДЖА “Astana IT University”<br />
                    (7172) 645710<br />
                    Пн-Пт: с 9:00 до 18:00
                </p>
                <p class="footer-text">
                    ТЕХ ПОДДЕРЖКА<br />
                    (705) 174 8120
                </p>
            </div>
            <div class="footer-telegram">
                <img src="/static/tgicon.svg" alt="Telegram Icon" class="telegram-icon" />
                <a href="https://t.me/wa1t_bot" target="_blank" class="telegram-link">@wa1t_bot</a>
            </div>
        </div>
    </footer>
    
    
</html>
